*  {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
#board,
figure.image-tile .overlay,
figure.image-tile figcaption {
    display: flex;
}
figure.image-tile input,
figure.image-tile .overlay,
figure.image-tile figcaption {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
}
.close-button > i,
.display-format p,
#display-info {
    font-family: arial;
}
.close-button > span,
figure.image-tile figcaption {
    font-family: "aldrich", arial;
}
#board {
    min-height: 55%;
    flex-direction: row;
    flex-wrap: wrap;
}
figure.image-tile {
    position: relative;
    width: 25%;
}
figure.image-tile input {
    z-index: 2000;
    top: 0px;
}
figure.image-tile figcaption {
    background: no-repeat center center;
    background-size: 145%;
    border-bottom: solid 1px #000;
}
figure.image-tile .overlay {
    background-color: rgba(0,0,0, .25);
    text-shadow: 2px 2px 1px #000;
    padding-bottom: 5px;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    font-size: 1.09em;
    bottom: 0px;
}
figure.image-tile:not(:nth-child(1)):not(:nth-child(5)) figcaption {
    border-left: solid 1px #000;
}
figure.image-tile input {
    opacity: 0;
}
figure.image-tile .overlay,
.close-button > span:hover {
    color: white;
}
#dropdown {
    background-color: #b9b089;
    overflow: hidden;
    height: 0px;
}
.close-button {
    padding: 8px 8px 0px;
    text-align: right;
}
.close-button > span.button-text {
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 15px;
    font-size: 9px;
    cursor: pointer;
}
.close-button > span i.button-arrow {
    font-style: normal;
    font-size: 13px;
}
.display-format {
    padding: 15px 12px 5px;
}
.display-info p {
    border-left: solid 2px white;
    padding: 0px 0px /*5px*/ 0px 8px;
    margin-bottom: 18px;
    line-height: 17px;
    font-size: 14px;
    color: #000;
}
figure.active figcaption,
figure.image-tile:hover figcaption {
    transition: background-size .5s linear;
    background-color: rgba(0,0,0, .35);
    border-bottom: solid 3px green;
    background-size: 155%;
}
figure.active figcaption .overlay,
figure.image-tile:hover figcaption .overlay {
    transition: background-color .5s linear;
    background-color: rgba(0,0,0, 0);
    padding-bottom: 3px;
    color: orange;
    opacity: 1;
}
